@model Model.Employee

@{
    ViewBag.Title = "Editar Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Editar Empleado</h2>

    @using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { id = "editForm" }))
    {
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth)
            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", type = "date" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Position)
            @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    }
</div>
